body {
    background: aquamarine;
    text-align: center;
    height: 90vh;
}

#startQuiz {
    margin: 300px;
    padding: 20px;
    background: rgb(12, 132, 132);
    color: aquamarine;
    border: none;
}

#startQuiz:hover {
    cursor: pointer;
    border: 2px solid black;
}

h1 {
    margin-bottom: 40px;
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

#question {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

#pirmas,
#ketvirtas {
    margin: 5px;
    border: none;
    padding: 5px 10px;
    background: gold;
    color: green;
}

#antras,
#trecias {
    margin: 5px;
    border: none;
    padding: 5px 10px;
    background: lightblue;
    color: blue;
}

#pirmas:hover {
    cursor: pointer;
    border: 2px solid black;
    color: gold;
    background: green;
}

#antras:hover {
    cursor: pointer;
    border: 2px solid black;
    color: lightblue;
    background: blue;
}

#trecias:hover {
    cursor: pointer;
    border: 2px solid black;
    color: lightblue;
    background: blue;
}

#ketvirtas:hover {
    cursor: pointer;
    border: 2px solid black;
    color: gold;
    background: green;
}


#klaus {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em; 
}

#restart {
    border: none;
    margin: 150px;
    padding: 20px;
    background: rgb(12, 132, 132);
    color: aquamarine; 
}

#restart:hover {
    cursor: pointer;
    border: 2px solid black;
}

